# Instructions

1. This paper contains 10 questions each carry 10 marks; Attend all the questions; Maximum Total 100 marks. 
2. Submit solution as .ipynb notebook; Use candidate name in notebook's name by replacing `<your-name>`.
3. Do not use any libraries unless otherwise mentioned in the question.

# 1. Revised Budget

### The awards committee of your Prepleaf asked for your assistance with a budget allocation problem they're facing. Originally, the committee planned to give N research grants this year. However, due to spending cutbacks, the budget was reduced to newBudget and now they need to reallocate the grants. The committee made a decision that they'd like to impact as few grant recipients as possible by applying a maximum cap on all grants. Every grant initially planned to be higher than cap will now be exactly cap. Grants less or equal to cap, obviously, won't be impacted.

### Given an array grantsArray of the original grants and the reduced budget newBudget, write a function findGrantsCap that finds in the most efficient manner a cap such that the least number of recipients is impacted and that the new budget constraint is met (i.e. sum of the N reallocated grants equals to newBudget).


 Examples:
> 1.
 input:  grantsArray = [2, 100, 50, 120, 1000], newBudget = 190

 output: new_cap = 47, 
 new grants array = [2, 47, 47, 47, 47]. Notice that the sum of  the new grants is indeed 190

> 2. 
input:  grantsArray = [2, 50, 50, 120, 1000], newBudget = 250 

output: new_cap = 66,
new grants  = [2, 50, 50, 66.0, 66.0]

In [1]:
def grant_array(grantsarray,new_budget):
    n = len(grantsarray)
    grantsarray.sort(reverse = True)
    grantsarray.append(0)
    excess = sum(grantsarray) - new_budget
    if excess == 0:
        return grantsarray[0]
    for i in range(n):
        excess = excess - (i+1) * (grantsarray[i] - grantsarray[i + 1])
        if excess <= 0:
            return grantsarray[i + 1] - (excess / float(i + 1))
grantsArray = [2, 100, 50, 120, 1000]
newBudget = 190
grant_array(grantsArray,new_budget)

NameError: name 'new_budget' is not defined

# 2. Contract or Expand?

### A program is passed with a list of positive integers (lst). If the count of prime numbers in the list is odd pass the original list to a function **contract_diff(lst)** as described below, and if the count of prime numbers in the list is zero or even pass the original list to a function **expand_diff(lst)** as described below:

### **contract_diff(lst)** is a function that takes as input a list of integer lst and returns True if the absolute difference between each adjacent pair of elements strictly decreases.

### **expand_diff(lst)** is a function that takes as input a list of integer lst and returns True if the absolute difference between each adjacent pair of elements strictly increases.

Here are some examples of how your functions should work.
  > lst = [9,2,3,7]

  > Output: False

  > lst = [2,3,7,2,11] 

  > Output: True

# 3. Peaks and Valleys

### Given a list of integers lst write a program to formulate a new list l of length equal to lst with elements of lst modified such that if an element is even return its cube, else return its square. 

### After formulating the list l, the neighbours of l[i] are l[i-1] and l[i+1]. l[i] is a peak if it is strictly greater than its neighbours and a valley if it is strictly less than its neighbours.

### Write a function peakvalley(l) that takes as input a list of integers l and returns a list [pc,vc] where hc is the number of peaks in l and vc is the number of valleys in l. If a number has only one neighbour, i.e. first element as well as last element of a list, skip that element in peak or valley calculations.

### Here are some examples to show how your function should work.

input: lst = [1,2,3,4,5,2]

outputs: intermediate_list, l = 1,8,9,64,25,8

peak_valley_count, [pc,vc] = [1,1]

# 4. Balanced Brackets

### Does a given string have balanced pairs of brackets?
###    Given a string as input, return True or False depending on whether the string contains balanced (), {}, [], and/or <>

Example: 

`(({{[]}))` --> True

`(<)>{}` --> False

`[]{})()` --> False

In [29]:
def balancedbrackets(a):
    while(len(a) != 0):
        a = a.replace('()', "")
        a = a.replace('[]', "")
        a = a.replace('{}', "")
        if (len(a) == 0):
            return True
        else:
            return False
string = input("enter a string of brackets: ")
print(balancedbrackets(string))

enter a string of brackets: (<)>{}
False

# 5. Merge My Ranges

### Write a function merge_ranges() that takes a list of meeting time ranges and returns a list of condensed ranges. Few examples are given below:


    >>> merge_ranges([(3, 5), (4, 8), (10, 12), (9, 10), (0, 1),(4,7])
    [(0, 1), (3, 8), (9, 12)]
    >>> merge_ranges([(0, 3), (3, 5), (4, 8), (10, 12), (9, 10)])
    [(0, 8), (9, 12)]
    >>> merge_ranges([(0, 3), (3, 5)])
    [(0, 5)]
    >>> merge_ranges([(0, 3), (3, 5), (7, 8)])
    [(0, 5), (7, 8)]
    >>> merge_ranges([(1, 5), (2, 3)])
    [(1, 5)]

# 6. Enemy's Secret Code
### Decodes a string. A valid code is a sequence of numbers and alphabets. 

### Consider all the alphabets that occur before the first occurrence of a number.
### Each number tells you how many characters to skip before landing on a good character. If the landed character is an alphabet, append that character as well as all other alphabets to decoded string. Else if the landed character is a digit skip that many characters in the original string. Decoded string should contain only alphabets.
    >>> decode("0h")
    'h' 
    >>> decode("t2abhe3j")
    'the' 
    >>> decode("0h1ae2bc2hey")
    'hey'

# 7. Zigzag sub-array

### A sequence of integers is called a zigzag sequence if each of its elements is either strictly less than both neighbors or strictly greater than both neighbors. For example, the sequence 4 2 3 1 5 3 is a zigzag, but 7 3 5 5 2 and 3 8 6 4 5 aren't.
### For a given array of integers return the length of its longest contiguous sub-array that is a zigzag sequence.
 Example
 For a = [9, 8, 8, 5, 3, 5, 3, 2, 8, 6], the output should be zigzag(a) = 4.
 The longest zigzag sub-arrays are [5, 3, 5, 3] and [3, 2, 8, 6] and they both have length 4.

# 8. Data Preprocessing

Use Pandas library for the following 3 questions. These questions are based on a csv file "unit evaluation.csv". Do the following operations. Use seperate cells for separate operations:

1. Load the file into a dataframe.
2. Delete columns which have more than 30% of its elements as null values. Column names that are to be deleted should not be written manually. Print shape of dataframe.
3. Fill null values with mean if column is numerical data type and fill with mode value if column is categorical datatype.

In [4]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [5]:
data = pd.read_csv(r'D:\MASAI\Python\unit evaluation\unit evaluation\unit_evaluation.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [70]:
perc = 30
min_count = int(((100 - perc)/100)*data.shape[0]+1)
data1 = data.dropna(axis = 1, thresh = min_count)
data1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [71]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 76 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1452 non-null   object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  GarageType     1379 non-null   object
 57  GarageYrBlt    1379 non-null   float64
 58  GarageFinish   1379 non-null   object
 59  GarageCars     1460 non-null   int64
 60  GarageArea     1460 non-null   int64
 61  GarageQual     1379 non-null   object
 62  GarageCond     1379 non-null   object
 63  PavedDrive     1460 non-null   object
 64  WoodDeckSF     1460 non-null   int64
 65  OpenPorchSF    1460 non-null   int64
 66  EnclosedPorch  1460 non-null   int64
 67  3SsnPorch      1460 non-null   int64
 68  ScreenPorch    1460 non-null   int64
 69  PoolArea       1460 non-null   int64
 70  MiscVal        1460 non-null   int64
 71  MoSold         1460 non-null   int64
 72  YrSold         1460 non-null   int64
 73  SaleType       1460 non-null   object
 74  SaleCondition  1460 non-null   object
 75  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(38)
memory usage: 867.0+ KB

In [72]:
data1.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [73]:
data1.fillna(data1.mean())

C:\Users\vishal\AppData\Local\Temp/ipykernel_13324/208966964.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data1.fillna(data1.mean())

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,Reg,Lvl,AllPub,Inside,...,112,0,0,0,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,6,2008,WD,Normal,147500

# 9. Yearwise Analysis

### Do the following operations on preprocessed dataframe:

1. Print Unique entries in the column `MSZoning`. 
2. Print Years as a list such that those years should have all possible `MSZoning` unique values occurred atleast 2 times.

In [74]:
data1["MSZoning"].unique()

array(['RL', 'RM', 'C (all)', 'FV', 'RH'], dtype=object)

# 10. Plot a Pie 

### Using preprocessed data, Draw a pie chart for the highest `MSSubClass` value corresponding to each of the `LotShape` features where `SalesPrice` is more than its mean value, `EnclosedPorch` is above 10 and `RoofStyle` is any of Gable, Hip and Gambrel

In [75]:
data1.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [76]:
mssubclass = data1["MSSubClass"].sort_values(ascending = False)

In [77]:
saleprice = data1["SalePrice"].mean()
saleprice

180921.19589041095

In [78]:
lotshape = data1["LotShape"] >= '180921'
lotshape

0       True
1       True
2       True
3       True
4       True
        ...
1455    True
1456    True
1457    True
1458    True
1459    True
Name: LotShape, Length: 1460, dtype: bool

In [82]:
EnclosedPorch = data1["EnclosedPorch"].astype(int)

In [84]:
enclosedporch = data1["EnclosedPorch"] >= 10
enclosedporch

0       False
1       False
2       False
3        True
4       False
        ...
1455    False
1456    False
1457    False
1458     True
1459    False
Name: EnclosedPorch, Length: 1460, dtype: bool